@{
    ViewBag.Title = "Resources";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    <a href="http://morrisjs.github.io/morris.js/">Morris Chart</a><br />
    <a href="https://docs.microsoft.com/en-us/aspnet/web-pages/overview/data/7-displaying-data-in-a-chart">ASP.NET Chart</a><br />
    <a href="http://www.chartjs.org/">JavaScript Chart</a><br />
    <a href="http://canvasjs.com/jquery-charts/">JQuery Chart Plugin</a><br />
    and a lot more on the web...
</p>
